body {
    font-family: 'Open Sans', sans-serif;
}

/* common shared styles */
main {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.banner-section {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 2px;
}

.banner-heading {
    text-align: center;
    height: 80%;
    width: 35vw;
    margin-bottom: 0;
}

.heading-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

/* .banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
} */

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

#banner-img {
    width: 300px;
    height: 340px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* featured section */
.featured-option {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.featured-flower {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;

}

/* .featured-image {
    height: 62vh;
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 80%; */


/* } */

.img-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

#image-1 {
    width: 200px;
    height: 250px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

#image-2 {
    width: 200px;
    height: 250px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(63, 92, 94, 0.1);
}

#image-3 {
    width: 200px;
    height: 250px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

/* deal section */
.deals-section {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.deals-section-image {
    width: 200px;
    height: 250px;
}

.section-header {
    text-align: center;
    color: #272727;
    font-size: 20px;
    font-weight: 800;
}

.section-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}


/* sm section  */

.sm-section {}

.sm-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 2px;
}

.sm-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.flowers-item {
    display: flex;
    justify-content: space-evenly;
}

.flowers {
    width: 200px;
    height: 250px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}


.letest-deals-section {
    width: 990px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(../Rectangle\ 9.png), lightgray 0px -203.444px / 100% 213.755% no-repeat;

}

.deals-head {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
}

.deals-discount {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.email-input {
    width: 400px;
    height: 20px;
    border-radius: 8px;
    background: #FFF;
}

.submit-btn {
    height: 25px;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    background: #E55473;
}

.form {
    text-align: center;
}

/* footer */
#flower {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.footer-heading {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.footer-discription,
.copyright {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer {
    background-color: black;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}